* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
  font-style: normal;
}

nav{
  position: fixed;
  height: 150px;
  width: 100%;
 
}
.upper_nav {
  display: flex;
  
   height: 50px;
  width: 100%;
  justify-content: center;
  background-color: black;
  
  color: whitesmoke; 
  
}
.upper_nav .upper_nav_h1 h3 {
  text-align: center;
  width: 70px;
  height: 28px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ec5d4d;
}
.upper_nav .upper_nav_h2 {
  margin-top: 10px;
  padding-left: 20px;
}

.main_nav {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
     border-bottom-left-radius: 6px;
     border-bottom-right-radius: 6px;
  text-align: center;
 
}
.main_nav .nav_left ul {
  display: flex;
  list-style: none;
  position: relative;
  top: 20px;
  left: 20px;
  gap: 45px;
}
.main_nav .nav_left a {
  text-decoration: none;
  font-weight: 700;
  position: relative;
  left: 50px;
  color: black;
}
.main_nav .nav_middle img {
  height: 40px;
  position: relative;
  top: 10px;
  right: 50px;
}
.main_nav .nav_right {
  display: flex;
  position: relative;
  right: 40px;
  

}

.main_nav .nav_right .nav_right_search {
  
  height: 30px;
  padding-right: 10px;
  position: relative;
  top: 20px;
  right: 95px;
  
  
}
.main_nav .nav_right .nav_right_search input {
  
   border: 1px solid #ec5d4d;
   width: 170px;
   border-radius: 20px;
  outline: none;
  width: 150px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  
}
.main_nav .nav_right .nav_right_search_logo {
  display: flex;
  gap: 35px;
  position: relative;
  top: 21px;
  right: 60px;
}
.nav_right_search_logo a:hover{
  transform: scale(1.03);
  transition: 0.3s;
}
/* card */
#cards{
    height: 70vh;    
}
.arrivals_cards{
    padding-top: 60px;
      
}
.arrivals_card_img1 img{
    margin-top: 50px;
    margin-left: 100px;
    height: 100px;

}
.trending_card_p p{
      margin-left: 50px;
      
}
.quantity{
  /* display: flex;
  justify-content: space-around; */
}
.add_cart{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 120px;
}
.quantity{
  width: 60px;
  height: 25px;
  display: flex;
  gap: 10px;
  border: 1px solid black;
}


/* footer */
footer{
  height: 65vh;
  background-color: black;
  color: white;
  
}
.footer_main{
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  padding: 60px;
  

}
.footer_row1{
  width: 200px;
}
.footer_row1 p{
  margin-top: 30px;
}
.footer_row1 img{
  height: 35px;
}
.footer_row2{
  width: 200px; 
}
.footer_row2_logo {
  margin-top: 30px;
}
.footer_row3{
  width: 200px; 
}
.footer_list{
  margin-top: 30px;
}
.footer_list ul{
  list-style: none;
  margin-top: 20px;
}
.footer_list li{
  margin-top: 10px;
}
.footer_list a{
  text-decoration: none;
  color: white;
    
}
.footer_end{
  display: flex;
    margin-left: 120px;
  justify-content: space-between;
    border-top: 1px solid white;
  width: 80%;
  padding: 30px;
  
}
